body{
    background-color: rgb(56, 61, 61);
    margin: 0;
}

.text-color{
    color: whitesmoke;
}

.flex-container{
    background-color: rgb(30, 30, 30);
    height: 120px;
    color: whitesmoke;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tabs{
    width: 700px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-icon{
    width: 90px;
    height: 90px;
    margin-left: 15px;
}

.current{
    color: cyan;
}

.image{
    width: 750px;
    height: 420px;
    border-radius: 30px;
    margin-top: 100px;
    margin-left: 25px;
}

.content{
    display: flex;
    justify-content: space-between;
}

.border{
    border: 2px solid #f3f3f3;
    border-radius: 30px;
    margin-top: 100px;
    padding: 15px;
    color: whitesmoke;
    width: 300px;
}

.link{
    color: cyan;
}